html {
    background-color: #D0F0ED;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 5px solid grey;

}

img {
    display: block;
    margin: 0 auto;
}
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #D0F0ED;
    text-shadow: 3px 3px 5px grey;
}

p, li {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
}